<div class="page">
  <div class="page-header">
    <h1>Books</h1>

    @if (auth.canManageBooks()) {
      <button mat-raised-button color="primary">
        <mat-icon>add</mat-icon>
        Add Book
      </button>
    }
  </div>

  <!-- Search -->
  <mat-form-field appearance="outline" class="search-field">
    <mat-label>Search books</mat-label>
    <input
      matInput
      [formControl]="searchControl"
      placeholder="Title or author..."
    />
    <mat-icon matSuffix>search</mat-icon>
  </mat-form-field>

  <!--Error state-->
  @if (errorMessage()) {
    <div class="error-message">
      <mat-icon>error_outline</mat-icon>
      {{ errorMessage() }}
    </div>
  }

  <!-- Loading state -->
  @if (isLoading()) {
    <div class="loading-container">
      <mat-spinner diameter="48" />
      <p>Loading books...</p>
    </div>
  }

  <!--Table-->
  @if (!isLoading() && !errorMessage()) {
    @if (books().length == 0) {
      <div class="empty-state">
        <mat-icon>menu_book</mat-icon>
        <p>No books found</p>
      </div>
    } @else {
      <div class="books-grid">
        @for (book of books(); track book.id) {
          <app-book-card
          [book]="book"
          (borrow)="onBorrow($event)" />
        }
      </div>

      <!-- Pagination -->
      <mat-paginator
        [length]="totalCount()"
        [pageSize]="pageSize()"
        [pageSizeOptions]="[5, 10, 25]"
        [pageIndex]="page() - 1"
        (page)="onPageChange($event)"
        showFirstLastButtons
      />
    }
  }
</div>
