<mat-sidenav-container class="sidenav-container">

  <!-- sidebar -->
  <mat-sidenav mode="push" [opened]="isSidenavOpen()" (openedChange)="isSidenavOpen.set($event)" >
    <mat-nav-list >
      <a mat-list-item routerLink="/books" routerLinkActive="active-link">
        <mat-icon matListItemIcon>menu_book</mat-icon>
        <span matListItemTitle>Book</span>
      </a>

      @if(auth.isLoggedIn()){
        <a mat-list-item routerLink="/borrow" routerLinkActive="active-link">
          <mat-icon matListItemIcon>swap_horiz</mat-icon>
          <span matListItemTitle>My Borrows</span>
        </a>
      }

@if (auth.canManageBooks()) {
  <a mat-list-item routerLink="/librarian/add-book" routerLinkActive="active-link">
    <mat-icon matListItemIcon>admin_panel_settings</mat-icon>
    <span matListItemTitle>Manage Books</span>
  </a>
}

@if (auth.isAdmin()) {
  <a mat-list-item routerLink="/admin/all" routerLinkActive="active-link">
    <mat-icon matListItemIcon>manage_accounts</mat-icon>
    <span matListItemTitle>Manage Roles</span>
  </a>
}
    </mat-nav-list>
   </mat-sidenav>

   <!--Main content-->
   <mat-sidenav-content>
    <!--Toolbar-->
    <mat-toolbar color="primary">
      
<button mat-icon-button (click)="toggleSidenav()">
  <mat-icon>menu</mat-icon>
</button>
      
      <span>LMS</span>
      <span class="spacer"></span>

      @if (auth.isLoggedIn()) {
        <span class="user-info">{{auth.currentEmail()}}</span>
        <button mat-button (click)="auth.logout()">
          <mat-icon>logout</mat-icon>
        </button>
      }@else {
        <a mat-button routerLink="/auth/login">Login</a>
        <a mat-button routerLink="/auth/register">Register</a>
      }
    </mat-toolbar>
    <!--Page content-->
    <main class="content">
            <router-outlet />
    </main>
   </mat-sidenav-content>
</mat-sidenav-container>
